<div class="flex-video widescreen">
  <iframe width="854" height="480" src="//www.youtube.com/embed/<%= @program.url %>?vq=hd720" frameborder="0"></iframe>
</div>

<div class="medium-8 columns">
  <div class="row">
    <div class="columns">
      <h1 class="show-title"><strong><%=@program.title%></strong></h1>
        <a href="#" class="button left" id="review-button">Add a review</a>
      <div class="stars left">
        <%= rating_for @program, "rating", disable_after_rate: false %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
    <div class="hide" id="add-review">
      <%= render "programs/add_review" %>
    </div>
      <%= render "programs/reviews" %>
      <%= paginate @reviews %>
    </div>
  </div>
</div>
<div class="medium-4 columns">
  <%= render 'sidebar' %>
</div>
