
<div class="flex-video widescreen">
  <iframe width="854" height="480" src="//www.youtube.com/embed/<%= @program.url %>" frameborder="0"></iframe>
</div>

<div class="twelve columns" style="background-color: #cc0000">
  <h1> <%=@program.title%></h1>
</div>



<% unless @reviews == [] %>
  <h3>Reviews:</h3>
  <ul>
    <% @reviews.each do |review| %>
      <li><strong><%= review.rating %> - <%= review.user.email %></strong><br>
        <%= review.body %> </li>
    <% end %>
  </ul>
<% end %>

<h2>Add a review!</h2>
<%= form_for [@program, @review] do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit ("Add Review")%>
<% end %>

<%= link_to 'Edit', edit_program_path(@program) %>
<%= link_to 'Delete Program', program_path , method: :delete %>
