<!DOCTYPE html>
<html>
  <head>
    <title>CouchPotatoes</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>
    <div id="nav-container">
      <div class="row">
        <div class="container">
          <%= render "layouts/nav" %>
        </div>
      </div>
    </div>
      <div class="row" id="content">
          <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
